:root {
    --color-primary: #09dba7;
    --color-primary-light: #0ceeb5;
    --color-primary-Vdark: #041a14;
    --color-primary-Vdark-trans: #041a14da;
    --color-primary-dark-trans: #254b416b;

    --color-secondary: #09a6db;
    --color-secondary-trans: #09a7dbe0;
    --color-secondary-dark: #117191;
    --color-secondary-dark-trans: #117191dc;

    --color-background: #313131;
    --color-background-light: #585858;
    --color-background-dark-trans: #1f1e1ed5;

    --color-text-light: #ece6e6;

    --color-shadow-dark: black;
    --color-shadow-dark-trans: rgba(0, 0, 0, 0.7);
}