:root {
    --color-primary: #09dba7;
    --color-primary-light: #0ae6af;
    --color-primary-dark-trans: #254b416b;

    --color-background: #313131;
    --color-background-light: #585858;
    --color-background-dark-trans: #1f1e1ed5;

    --color-text-light: #ece6e6;

    --color-shadow-dark: black;
}