.cta {
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 100%);
    background: linear-gradient(323deg, var(--color-secondary-dark), var(--color-primary-Vdark));
    background-size: 200% 200%;

    animation: gradBgAnim 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    &__header {
        font-size: 2rem;
        margin-bottom: 5rem;
        padding: 4rem 2rem 4rem 2rem;
        border-left-style: solid;
        border-image-slice: 0 0 0 1;
        border-left-width: 10px;

        border-image-source: linear-gradient(to bottom, var(--color-primary-light), var(--color-primary-dark-trans));
    }
    &__countdown {
        font-family: monospace;
        font-size: 2.5rem;
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }
}