.testimonials {


    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
    height: 100%;
    width: 100%;

    padding: 10rem 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      position: fixed;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        to right,
        var(--color-shadow-dark-trans),
        var(--color-shadow-dark-trans)),
        url(../../../../assets/images/brand/man-pushing-weights.jpg);
      background-size: cover;
      will-change: scroll-position;
      z-index: -1;
    }
    &__header {
        margin-top: -12rem;
        font-size: 2rem;
        margin-bottom: 100vh;

        padding: 4rem 2rem 4rem 2rem;
        border-left-style: solid;
        border-image-slice: 0 0 0 1;
        border-left-width: 10px;

        border-image-source: linear-gradient(to bottom, var(--color-primary-light), var(--color-primary-dark-trans));
    }
    &__txt {
        font-size: 2rem;
        margin-left: 2rem;
        margin-right: 1rem;
        letter-spacing: 3px;
        line-height: 4rem;
        margin-bottom: 100vh;
    }
}