.features {
    width: 100%;
    color: var(--color-text-light);
    height: 10rem;
    background-color: var(--color-background-light);
    font-size: 2rem;
    padding: 20rem 0 10rem 0;
    text-align: center;
}