.features {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
    color: var(--color-text-light);
    background-color: var(--color-background-light);
    font-size: 2rem;
    padding: 20rem 0 10rem 0;

    &__header {
        margin-bottom: 10rem;
        padding: 2rem;
        border-left-style: solid;
        border-image-slice: 0 0 0 1;
        border-left-width: 10px;

        border-image-source: linear-gradient(to bottom, var(--color-primary-light), var(--color-primary-dark-trans));
    }
    &__item {
        
        width: 65%;
        margin-bottom: 8rem;
        border-radius: 3px;
        
        background: var(--color-background);
        box-shadow: 2px 4px 10px var(--color-shadow-dark);
        

        &__img {
            height: 250px;
            float: left;
            box-shadow: 1px 1px 5px var(--color-shadow-dark);
            clip-path: polygon(0 0, 92% 0, 66% 100%, 0% 100%);
            -webkit-clip-path: polygon(0 0, 92% 0, 66% 100%, 0% 100%);
            shape-outside: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
            -webkit-shape-outside: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
        }
        &__header {
            font-size: 1.5rem;
            margin: 2.5rem 0 1rem 0;

            
        }
        &__txt {
            font-size: 1rem;
            line-height: 2rem;
            letter-spacing: 2px;
            padding: 0.8rem;
            margin-left: 3rem;
        }
    }

}

@media (max-width: 950px) {
    .features {
        &__item {
            font-size: 0.8rem;
            width: 85%;
            max-width: 325px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            text-align: center;
            &__img {
                max-width: 325px;
                min-width: 175px;
                float: none;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
                shape-outside: none;
                -webkit-shape-outside: none;

            }
            &__txt {
                margin-left: 0;
            }
        }
    }
}