<section class="features">
    <h2 class="features__header">Features</h2>
    <div class="features__item animate__animated" #itemOne>
        <img class="features__item__img" src="../../../../assets/images/brand/man-ropes-waving.jpg" alt="man waving ropes">
        <h3 class="features__item__header">Schedule Workout Sessions</h3>
        <p class="features__item__txt">Easily schedule time for your workouts. Don't worry, we'll send you a reminder if you'd like.</p>
    </div>
    <div class="features__item animate__animated" #itemTwo>
        <img class="features__item__img" src="../../../../assets/images/brand/man-lift-dumbell-headphones.jpg" alt="man lifting dumbells wearing headphones">
        <h3 class="features__item__header">Track Progress</h3>
        <p class="features__item__txt">Never get discourged! See how far you've come with periodic milestone updates.</p>
    </div>
    <div class="features__item animate__animated" #itemThree>
        <img class="features__item__img" src="../../../../assets/images/brand/empty-gym.jpg" alt="empty gym">
        <h3 class="features__item__header">Quick "How to" Videos</h3>
        <p class="features__item__txt">Form is essential for safe and effective exercises. Watch a short clip to see how to have the perfect form.</p>
    </div>
</section>
