.hero {
    box-sizing: border-box;
    font-weight: 100;
    position: relative;
    width: 100%;
    height: 90vh;
    background:  linear-gradient(to right,
        var(--color-primary-dark-trans),
        var(--color-primary-dark-trans)), 
        url(../../../../assets/images/brand/woman-doing-squat.jpg);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    margin: 0 0 -5rem 0;
    
    &__msg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
        font-weight: 500;
        letter-spacing: 4px;
        text-align: center;
        text-shadow: 1px 1px 5px var(--color-shadow-dark);

        &__tagline {
            font-size: 1.5rem ;
            margin-top: 3rem;
        }
    }
   
}

@media (max-width: 800px) {
    .hero {
        background-position: top;
        height: 75vh;

        &__msg {
            position: absolute;
            font-size: 3rem;

            &__tagline {
                font-size: 1rem ;
            }
        }
    }
}