@keyframes beat
{
  0%
  {
    box-shadow: 0 2px 3px var(--color-primary);
  }
  8%
  {
    box-shadow: 0 2px 6px var(--color-primary-light);
  }
  16%
  {
    box-shadow: 0 2px 3px var(--color-primary);
  }
  24%
  {
    box-shadow: 0 2px 6px var(--color-primary-light);
  }
  32%
  {
    box-shadow: 0 2px 3px var(--color-primary);
  }
  40%
  {
    box-shadow: 0 2px 3px var(--color-primary);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.anim {
  &__fadeIn {
    animation: fadeIn 1.2s ease-in-out forwards;
  }
  &__fadeInRev {
    animation: fadeIn 1s ease-in-out reverse forwards;
  }
}